@charset 'utf-8';

@font-face {
  font-family:'Noto Sans KR';
  font-style:normal;
  font-weight:100;
  src: url(/css/fonts/NotoSansKR-Thin.woff2) format('woff2'),
       url(/css/fonts/NotoSansKR-Thin.woff) format('woff'),
       url(/css/fonts/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
  font-family:'Noto Sans KR';
  font-style:normal;
  font-weight:300;
  src: url(/css/fonts/NotoSansKR-Medium.woff2) format('woff2'),
       url(/css/fonts/NotoSansKR-Medium.woff) format('woff'),
       url(/css/fonts/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
  font-family:'Noto Sans KR';
  font-style:normal;
  font-weight:500;
  src: url(/css/fonts/NotoSansKR-Bold.woff2) format('woff2'),
       url(/css/fonts/NotoSansKR-Bold.woff) format('woff'),
       url(/css/fonts/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
  font-family:'Noto Sans KR';
  font-style:normal;
  font-weight:900;
  src: url(/css/fonts/NotoSansKR-Black.woff2) format('woff2'),
       url(/css/fonts/NotoSansKR-Black.woff) format('woff'),
       url(/css/fonts/NotoSansKR-Black.otf) format('opentype');
}
@font-face{
 font-family:'NanumSquare';
 font-style:normal;
 font-weight:400;
 src:url(/css/fonts/NanumSquareR.eot);
 src:url(/css/fonts/NanumSquareR.eot?#iefix) format('embedded-opentype'),
     url(/css/fonts/NanumSquareR.woff) format('woff'),
     url(/css/fonts/NanumSquareR.ttf) format('truetype');
}
@font-face{
 font-family:'NanumSquare';
 font-style:normal;
 font-weight:700;
 src:url(/css/fonts/NanumSquareB.eot);
 src:url(/css/fonts/NanumSquareB.eot?#iefix) format('embedded-opentype'),
     url(/css/fonts/NanumSquareB.woff) format('woff'),
     url(/css/fonts/NanumSquareB.ttf) format('truetype');
}
@font-face{
 font-family:'NanumSquare';
 font-style:normal;
 font-weight:800;
 src:url(/css/fonts/NanumSquareEB.eot);
 src:url(/css/fonts/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
     url(/css/fonts/NanumSquareEB.woff) format('woff'),
     url(/css/fonts/NanumSquareEB.ttf) format('truetype');
}

/* common */
/*html, body{height:100%;}*/
body{margin:0; padding:0; font-family:'Noto Sans KR', 'NanumSquare', sans-serif; font-size:14px; font-weight:500; line-height:1.2; color:#010101;}
a{color:#010101; text-decoration:none;}
hr, caption, legend{display:none;}
colgroup{background:none;}
h1, h2, h3, h4, h5, h6{font-size:100%; line-height:1.2}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, form, fieldset, table, caption, tbody, tfoot, thead, tr, th, td, figure, figcaption, img{margin:0; padding:0; border:0;}
ul, ol, li{list-style:none;}
table{clear:both; width:100%; border-spacing:0; border:0;}
p, div, th, td{font-size:100%;}
img,input,select,textarea{vertical-align:middle;}
input.type-image, input.type-radio{border:0 none;}
input,select,textarea, button{font-family:'Noto Sans KR', 'NanumSquare', sans-serif; font-size:100%; font-weight:500;}
textarea{resize:none;}
input[type="submit"], button{cursor:pointer;}
button::-moz-focus-inner{padding: 0; border:0;} /* firefox bug fix */

.blind{position:absolute; top:0; left:-1000px; width:0; height:0; font-size:0; line-height:0;}
.inner{width:1640px; margin:0 auto;}
.lock{overflow:hidden;}
.mobile{display:none;}

/* header */
.header{position:fixed; top:0; left:50%; z-index:20; width:100%; margin:0 0 0 -50%;}
.header h1{position:relative; z-index:10; float:left;}
.header h1 a{display:block; width:136px; height:112px; box-sizing:border-box; padding:10px 0 0; background:#ed1c24; transition:background .5s}
.header h1.active a{background:none;}
.util{position:relative; z-index:10; float:right; margin-top:50px; padding-right:66px;}
.nav-sns{float:left;}
.nav-sns li{float:left; margin:0 0 0 22px;}
.nav-sns a{display:block; width:50px; height:50px; overflow:hidden; text-indent:-9999px; transition:background .2s; will-change:background;}
.nav-sns .facebook a{background:url(../images/common/btn_facebook.png) no-repeat 0 0; background-size:100% auto;}
.nav-sns .instagram a{background:url(../images/common/btn_instagram.png) no-repeat 0 0; background-size:100% auto;}
.nav-sns .youtube a{background:url(../images/common/btn_youtube.png) no-repeat 0 0; background-size:100% auto;}
.nav-sns .facebook a:hover{background:url(../images/common/btn_facebook_hover.png) no-repeat 0 0; background-size:100% auto;}
.nav-sns .instagram a:hover{background:url(../images/common/btn_instagram_hover.png) no-repeat 0 0; background-size:100% auto;}
.nav-sns .youtube a:hover{background:url(../images/common/btn_youtube_hover.png) no-repeat 0 0; background-size:100% auto;}
.btn-nav{position:absolute; z-index:10; top:14px; right:0; width:36px; height:22px; overflow:hidden; padding:0; text-indent:-9999px; border:0; border-top:2px solid #fff; background:none;}
.btn-nav:before{position:absolute; top:8px; left:0; width:36px; height:2px; content:''; background:#fff;}
.btn-nav:after{position:absolute; bottom:0; left:0; width:26px; height:2px; content:''; background:#fff;}
.btn-nav.active{position:absolute; right:348px; width:30px; height:30px; border:0;}
.btn-nav.active:before{top:14px; left:-3px; transform:rotate(45deg);}
.btn-nav.active:after{bottom:14px; left:-3px; width:36px; transform:rotate(-45deg);}
nav{position:fixed; top:0; right:-470px; width:470px; height:100vh; text-align:center; background:#401907; transition:right .5s cubic-bezier(0.770, 0.000, 0.175, 1.000);}
nav.open{right:0;}
nav > div{position:absolute; top:50%; left:50%; width:270px; text-align:center; transform:translate(-50%, -50%);}
.nav-main{margin:0 0 40px;}
.nav-main li{position:relative;}
.nav-main a{position:relative; display:inline-block; margin:35px 0; font-size:36px; font-weight:100; color:#fff; transition:all .2s}
.nav-main a:hover{font-weight:900; color:#cb0423;}
.nav-main-sns li{display:inline-block; margin:0 6px;}
.nav-main-sns a{display:block; width:50px; height:50px; overflow:hidden; text-indent:-9999px; transition:background .2s; will-change:background;}
.nav-main-sns .facebook a{background:url(../images/common/btn_facebook.png) no-repeat 0 0;}
.nav-main-sns .instagram a{background:url(../images/common/btn_instagram.png) no-repeat 0 0;}
.nav-main-sns .youtube a{background:url(../images/common/btn_youtube.png) no-repeat 0 0;}
.nav-main-sns .facebook a:hover{background:url(../images/common/btn_facebook_hover.png) no-repeat 0 0;}
.nav-main-sns .instagram a:hover{background:url(../images/common/btn_instagram_hover.png) no-repeat 0 0;}
.nav-main-sns .youtube a:hover{background:url(../images/common/btn_youtube_hover.png) no-repeat 0 0;}

/* footer */
.footer{position:relative; z-index:12; height:80px; box-sizing:border-box; padding:24px 0 0; box-shadow:0 0 3px rgba(59, 7, 7, .2); font-size:12px; font-weight:300; color:#9a9a9a; background:#fff;}
.footer .footer-logo{float:left; margin:0 22px 0 0;}
.footer .copyright{float:left;}
.footer .copyright p:first-child{margin:0 0 5px;}
.footer .btn-terms{float:right;}
.footer-sns{display:none;}

/* main */
.main section{width:100%; overflow:hidden;}

.kv li{position:relative; height:100vh; overflow:hidden;}
.kv li:nth-child(2){background:url(/images/main/bg_product.jpg) no-repeat center center; background-size:cover;}
.kv .slogan{position:absolute; top:50%; left:0; width:100%; text-align:center; transform:translateY(-50%);}
.kv .product{position:absolute; top:12%; left:50%; width:1350px; transform:translateX(-50%);}
.kv .product .img{position:absolute; top:-80px; right:0;}
.kv .product strong{position:relative; font-size:208px; font-weight:900; color:#fff; line-height:.9; letter-spacing:-10px;}
.kv .product span{display:block;}
.kv .product span:first-child{color:#9e0e13;}
.kv .product span:nth-child(2){font-size:170px;}
.kv .product span:last-child{font-size:158px; line-height:1; letter-spacing:-5px;}
.kv .product i{font-style:normal; color:#9e0e13;}
.kv .product .new{margin:35px 0 10px; font-size:54px; font-family:'NanumSquare'; font-weight:800; color:#870c10;}
.kv .product .name{font-size:34px; font-family:'NanumSquare'; font-weight:700; color:#fcbd13;}
.kv video{position:absolute; top:50%; left:50%; min-width:100%; min-height:100%; width:auto; height:auto; transform:translate(-50%, -50%);}
.kv .paging{position:absolute; bottom:50px; left:0; z-index:10; width:100%; text-align:center;}
.kv .paging .swiper-pagination-bullet{width:62px; height:32px; margin:0 5px; background:url(../images/main/paging_off.png) no-repeat center 0; opacity:1;}
.kv .paging .swiper-pagination-bullet-active{background:url(../images/main/paging_on.png) no-repeat center 0;}
.kv .btn button{position:absolute; top:50%; z-index:10; width:81px; height:144px; overflow:hidden; margin-top:-72px; text-indent:-9999px; border:0; opacity:0; transition:opacity .2s;}
.kv .btn-kvPrev{left:40px; background:url(/images/main/btn_prev.png) no-repeat 0 0;}
.kv .btn-kvNext{right:40px; background:url(/images/main/btn_next.png) no-repeat 0 0;}
.kv:hover .btn button{opacity:1;}

.intro-prod{height:100vh; background:#b4011f;}
.intro-prod .inner{position:relative; top:50%; left:50%; margin:0; text-align:center; transform:translate(-50%, -50%);}
.intro-prod .since{display:block; font-size:30px; font-weight:700; text-align:center; color:#401907;}
.intro-prod h2{margin:15px 0 30px; font-size:55px; font-family:'NanumSquare'; font-weight:800; color:#fff;}
.intro-prod .tab{position:relative; left:-50%; z-index:5;  float:right; margin-bottom:3vw;}
.intro-prod .tab li{position:relative; left:50%; float:left;}
.intro-prod .tab a{display:block; width:147px; height:44px; margin:0 18px 0 0; font-family:'NanumSquare'; font-size:20px; font-weight:900; text-align:center; color:#580407; line-height:44px; border:1px solid #580407; transition:all .2s;}
.intro-prod .tab .active a{border-color:#fff; background:#fff;}
.intro-prod .img-area{width:1222px; margin:0 auto;}
.intro-prod .swiper-slide{height:470px; transition:all .2s;}
.intro-prod .swiper-slide:after{position:absolute; top:50%; left:0; width:100%; height:420px; content:''; background:#96011a; transform:translateY(-50%); opacity:1; transition:opacity .2s;}
.intro-prod .swiper-slide .tag,
.intro-prod .swiper-slide .img,
.intro-prod .swiper-slide p{opacity:0; transition:opacity .2s;}
.intro-prod .swiper-slide-active{background:#fff; box-shadow:10px 10px 15px rgba(0, 0, 0, .3);}
.intro-prod .swiper-slide-active .tag,
.intro-prod .swiper-slide-active .img,
.intro-prod .swiper-slide-active p{opacity:1;}
.intro-prod .swiper-slide-active:after{opacity:0;}
.intro-prod .swiper-slide p{position:relative; top:50%; left:0; width:40%; font-family:'NanumSquare'; font-size:40px; font-weight:800; color:#401907; transform:translateY(-50%);}
.intro-prod .swiper-slide p span{display:block; margin-top:10px; font-size:30px; font-weight:100; color:#000;}
.intro-prod .img{position:absolute; top:50%; right:50px; transform:translateY(-50%);}
.intro-prod .tag{position:absolute; top:25px; left:25px;}

.sns{padding:110px 0 125px; background:#f2f2f5;}
.sns .since{display:block; font-size:30px; font-weight:500; color:#401907; text-align:center;}
.sns h2{margin:5px 0 50px; font-family:'NanumSquare'; font-size:55px; font-weight:900; color:#96011a; text-align:center;}
.sns-slide{width:1280px; overflow:hidden; margin:0 auto;}
.sns-slide .swiper-slide{box-shadow:0 0 20px rgba(199, 199, 199, .52); transform:scale(.6); transition:transform .2s;}
.sns-slide .swiper-slide:before{position:absolute; top:0; left:50%; z-index:4; width:446px; height:100%; content:''; background:#333; opacity:.5; transform:translateX(-50%); transition:opacity .2s;}
.sns-slide .swiper-slide img{position:relative; left:50%; width:446px; transform:translateX(-50%);}
.sns-slide .swiper-slide-prev,
.sns-slide .swiper-slide-next{z-index:3; transform:scale(.8);}
.sns-slide .swiper-slide-next+.swiper-slide{z-index:2;}
.sns-slide .swiper-slide-active{z-index:4; transform:scale(1);}
.sns-slide .swiper-slide-active:before{z-index:-1; opacity:0;}
.sns-slide .txt-area{position:relative; left:50%; width:446px; height:164px; box-sizing:border-box; padding:25px; font-size:18px; line-height:1.5; background:#fff; transform:translateX(-50%);}
.sns-slide .txt-area p{word-wrap:break-word; display:-webkit-box; overflow:hidden; font-weight:300; -webkit-line-clamp:4; -webkit-box-orient:vertical;}

.modal{position:fixed; top:0; left:0; z-index:-1; width:100%; height:100%; opacity:0; transform:scale(0.5); transition:all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);}
.modal.active{opacity:1; transform:scale(1); z-index:11;}

.modal-dialog{background:rgba(0, 0 ,0, .3);}
.modal-dialog.active{z-index:50;}
.modal-dialog .modal-content{position:absolute; top:50%; left:50%; width:85%; height:90%; overflow:hidden; padding:35px; line-height:1.5; border-radius:0; background:#fff url(/images/common/header_under_bg.png) repeat-x; border-top:4px solid #d70021; transform:translate(-50%, -50%);}
.modal-dialog .modal-content .modal-header{padding:10px 0 15px;border-bottom: 0;}
.modal-dialog .modal-content .modal-header h4{position:relative; display:inline-block; margin-top:30px; color:#000; font-size:36px; font-weight:600;}
.modal-dialog .modal-content .modal-header h4:before{content:''; position:absolute; top:-20px; left:0; width:50px; height:1px; background:#d70021;}
.modal-dialog .modal-content .modal-body{height:87%; overflow-y: auto;}
.modal-dialog .modal-content .modal-body .content{padding-right:20px;}
.modal-dialog .modal-content .modal-body strong{font-weight:500;}
.modal-dialog .modal-content .modal-body p{margin:10px 0; font-weight:300; color:#333;}
.modal-dialog .btn-close{position:absolute; top:35px; right:35px; width:30px; height:30px; overflow:hidden; padding:0; text-indent:-9999px; border:0; background:none;}
.modal-dialog .btn-close:before{position:absolute; top:14px; left:-5px; width:40px; height:1px; content:''; background:#000; transform:rotate(-45deg);}
.modal-dialog .btn-close:after{position:absolute; top:14px; left:-5px; width:40px; height:1px; content:''; background:#000; transform:rotate(45deg);}

/* sub */
.sub{width:100%; height:100%; overflow:hidden; margin-bottom:-80px;}

/* product */
.sub-product{position:relative; height:100vh; background:#b4011f;}
.prod-slider{position:relative; top:50%; width:1420px; margin:0 auto; transform:translateY(-50%);}
.prod-slider .swiper-slide{width:1420px; height:617px; background:#930016; transition:all .2s; will-change:background;}
.prod-slider .swiper-slide a{display:block; height:100%; opacity:0; transition:opacity .2s;}
.prod-slider .tag{position:absolute; bottom:50px; left:50%; z-index:2;}
.prod-slider dfn{position:absolute; top:50%; left:80px; font-size:180px; font-weight:900; font-style:normal; color:#441802; line-height:.85; letter-spacing:-8px; transform:translateY(-50%);}
.prod-slider dfn span{display:block; margin-bottom:20px; font-size:120px; font-weight:100;}
.prod-slider dfn i{display:block; font-size:50px; font-family:'NanumSquare'; font-weight:700; font-style:normal; letter-spacing:-2px;}
.prod-slider .img-prod{position:absolute; top:0; right:0; height:100%;}
.prod-slider .swiper-slide-active{background:#fff; box-shadow:15px 15px 10px 2px rgba(55, 24, 2, .4);}
.prod-slider .swiper-slide-active a{opacity:1;}
.prod-slider .swiper-slide-active img{transform:rotate(0);}
.prod-slider .btn-control{position:relative; z-index:10; margin:25px 0 0;}
.prod-slider .btn-control button{position:relative; width:50px; height:20px; overflow:hidden; padding:0; text-indent:-9999px; border:0; background:none;}
.prod-slider .btn-control button+button{margin-left:25px;}
.prod-slider .prod-prev:before{position:absolute; top:6px; left:2px; width:8px; height:8px; box-sizing:border-box; content:''; border-top:3px solid #fff; border-left:3px solid #fff; transform:rotate(-45deg);}
.prod-slider .prod-prev:after{position:absolute; top:8px; left:2px; width:48px; height:3px; box-sizing:border-box; content:''; background:#fff;}
.prod-slider .prod-next:before{position:absolute; top:6px; right:2px; width:8px; height:8px; box-sizing:border-box; content:''; border-top:3px solid #fff; border-right:3px solid #fff; transform:rotate(45deg);}
.prod-slider .prod-next:after{position:absolute; top:8px; right:2px; width:48px; height:3px; box-sizing:border-box; content:''; background:#fff;}
.prod-slider .prod-paging{margin:-25px 0 0; font-size:26px; color:#fff; text-align:right; font-weight:300;}

.product-detail{position:relative; min-height:100%; box-sizing:border-box; padding-top:16vh; background:#7e0116;}
.product-detail:before{position:absolute; top:16vh; left:0; width:70%; height:617px; content:''; background:#fff;}
.prod-intro{position:relative; left:50%; width:1420px; height:617px; box-sizing:border-box; margin:0 0 0 -710px; padding:0 0 0 70px; background:#fff; box-shadow:15px 15px 10px 2px rgba(55, 24, 2, .4);}
.prod-intro .tag{position:absolute; top:120px; left:48%; z-index:2;}
.prod-intro .tab{position:absolute; bottom:0; left:25px; z-index:2;}
.prod-intro .tab li{float:left;}
.prod-intro .tab a{display:block; width:228px; height:124px; overflow:hidden; text-indent:-9999px;}
#chunky .prod-intro .tab .original a{background:#dcc4c4 url(../images/product/tab_chunky_original_off.png) no-repeat center center;}
#chunky .prod-intro .tab .original.active a{background:url(../images/product/tab_chunky_original_on.png) no-repeat center center;}
#chunky .prod-intro .tab .hazelnut a{background:#dcc4c4 url(../images/product/tab_chunky_hazelnut_off.png) no-repeat center center;}
#chunky .prod-intro .tab .hazelnut.active a{background:url(../images/product/tab_chunky_hazelnut_on.png) no-repeat center center;}
#chunky .prod-intro .tab .cookies a{background:#dcc4c4 url(../images/product/tab_chunky_cookies_cream_off.png) no-repeat center center;}
#chunky .prod-intro .tab .cookies.active a{background:url(../images/product/tab_chunky_cookies_cream_on.png) no-repeat center center;}
#new3 .prod-intro .tab .caramel a{background:#dcc4c4 url(../images/product/tab_new3_caramel_off.png) no-repeat center center;}
#new3 .prod-intro .tab .caramel.active a{background:url(../images/product/tab_new3_caramel_on.png) no-repeat center center;}
#new3 .prod-intro .tab .crumble a{background:#dcc4c4 url(../images/product/tab_new3_crumble_off.png) no-repeat center center;}
#new3 .prod-intro .tab .crumble.active a{background:url(../images/product/tab_new3_crumble_on.png) no-repeat center center;}
#new3 .prod-intro .tab .hazelnut a{background:#dcc4c4 url(../images/product/tab_new3_hazelnut_off.png) no-repeat center center;}
#new3 .prod-intro .tab .hazelnut.active a{background:url(../images/product/tab_new3_hazelnut_on.png) no-repeat center center;}
.prod-item{position:absolute; top:0; left:0; display:none; width:100%; height:100%;}
.prod-item .disc{position:relative; top:50%; padding-left:30px; transform:translateY(-50%);}
.prod-item h2{font-size:40px; font-weight:900; color:#441802; line-height:1; letter-spacing:-2px;}
.prod-item h2 span{display:block; font-family:'NanumSquare'; font-size:80px; font-weight:300; letter-spacing:-6px;}
.prod-item h2 i{font-weight:800; font-style:normal;}
.prod-item p{margin:35px 0 0; font-size:24px; font-family:'NanumSquare'; letter-spacing:-2px; line-height:1.5;}
.prod-item .img-prod{position:absolute; top:0; right:-30px;}
.prod-intro .btn-close{position:absolute; top:-44px; right:0; width:30px; height:30px; overflow:hidden; padding:0; text-indent:-9999px; border:0; background:none;}
.prod-intro .btn-close:before{position:absolute; top:14px; left:-3px; width:35px; height:2px; content:''; background:#fff; transform:rotate(-45deg);}
.prod-intro .btn-close:after{position:absolute; top:14px; left:-3px; width:35px; height:2px; content:''; background:#fff; transform:rotate(45deg);}

@media screen and (max-width:1640px){
    .inner{width:96%; margin:0 auto;}
}

/* tablet landscape */
@media screen and (max-width:1366px) and (orientation:landscape){

    .kv .product{width:100%; box-sizing:border-box; padding:0 100px;}
    .kv .product strong{font-size:120px;}
    .kv .product span:nth-child(2){font-size:100px;}
    .kv .product span:last-child{font-size:90px;}
    .kv .product .new{font-size:34px;}
    .kv .product .name{font-size:24px;}
    .kv .product .img{top:50%; right:100px; width:50%; transform:translateY(-50%);}
    .kv .product .img img{width:100%;}
    .kv .slogan img{width:80%;}
    .kv .btn{display:none;}
    .intro-prod .since{font-size:20px;}
    .intro-prod h2{font-size:32px;}
    .intro-prod .img-area{width:80%;}
    .intro-prod .swiper-slide{height:360px;}
    .intro-prod .swiper-slide:after{height:320px;}
    .intro-prod .swiper-slide p{font-size:30px;}
    .intro-prod .swiper-slide p span{font-size:20px;}
    .intro-prod .tag{width:70px; height:70px;}
    .intro-prod .tag img{width:100%;}
    .intro-prod .img{width:50%;}
    .intro-prod .img img{width:100%;}
    .btn-nav.active{right:460px;}

    .sns .since{font-size:20px;}
    .sns h2{font-size:32px;}
    .sns-slide{width:90%;}

    /* product */
    .prod-slider{width:80%;}
    .prod-slider .swiper-slide{width:100%; height:35vw; box-sizing:border-box; text-align:center;}
    .prod-slider .swiper-slide a{height:100%; box-sizing:border-box; padding:45px 0 0;}
    .prod-slider .tag{bottom:50px; left:50%; width:80px; height:80px;}
    .prod-slider .tag img{width:100%;}
    .prod-slider dfn{font-size:80px; letter-spacing:0; text-align:left;}
    .prod-slider dfn span{font-size:50px;}
    .prod-slider .img-prod{top:50%; width:55%; height:auto; transform:translateY(-50%);}
    .prod-slider .img-prod img{position:static; width:100%;}
    .prod-slider .btn-control{margin:20px 0 0; text-align:center;}
    .prod-slider .btn-control button{width:52px;}
    .prod-slider .prod-prev:before,
    .prod-slider .prod-next:before{width:10px; height:10px; border-width:2px;}
    .prod-slider .prod-prev:after,
    .prod-slider .prod-next:after{top:10px; height:2px;}
    .prod-slider .btn-control button+button{margin-left:10px;}
    .prod-slider .prod-paging{margin:-19px 0 0; font-size:25px;}

    .product-detail{padding-top:16vh; background:none;}
    .product-detail:before{display:none;}
    .prod-intro{position:absolute; top:46%; width:80%; height:48vw; max-height:62vh; margin:0; padding:0; transform:translate(-50%, -50%);}
    .prod-intro .tag{top:60px; left:25%; width:80px; height:80px;}
    .prod-intro .tag img{width:100%;}
    .prod-item .disc{top:57%; padding:0;}
    .prod-item h2{font-size:25px; text-align:center;}
    .prod-item h2 span{margin-top:5px; font-size:45px;}
    .prod-item p{width:60%; margin:25px auto 0; font-size:18px; text-align:center; letter-spacing:0;}
    .prod-item p br{display:none;}
    .prod-intro .img-area{position:static;}
    .prod-intro .img-prod{top:-11vw; left:54%; width:45vw; transform:translateX(-50%);}
    .prod-intro .img-prod img{width:100%;}
    .prod-intro .tab{left:0; width:100%;}
    .prod-intro .tab li{width:33.3333%;}
    .prod-intro .tab li:first-child{width:33.3334%;}
    .prod-intro .tab a,
    .prod-intro .tab a:first-child{width:100%; height:90px;}
    .prod-intro .tab .original a,
    .prod-intro .tab .hazelnut a,
    .prod-intro .tab .cookies a,
    .prod-intro .tab .caramel a,
    .prod-intro .tab .crumble a,
    .prod-intro .tab .hazelnut a{background-size:auto 100% !important;}
    .prod-intro .btn-close{top:auto; bottom:-55px; right:50%; width:40px; height:40px; margin-right:-20px;}
    .prod-intro .btn-close:before,
    .prod-intro .btn-close:after{top:20px; left:-5px; width:50px;}
}

/* tablet portrait */
@media screen and (max-width:1024px) and (orientation:portrait){

    .kv .product{width:100%; box-sizing:border-box; padding:0 100px;}
    .kv .product strong{font-size:120px;}
    .kv .product span:nth-child(2){font-size:100px;}
    .kv .product span:last-child{font-size:90px;}
    .kv .product i{display:block; font-size:180px;}
    .kv .product .new{font-size:34px;}
    .kv .product .name{font-size:24px;}
    .kv .product .img{top:40%; right:60px; width:60%; transform:translateY(-50%);}
    .kv .product .img img{width:100%;}
    .kv .slogan img{width:80%;}
    .kv .btn{display:none;}
    .intro-prod .since{font-size:20px;}
    .intro-prod h2{font-size:32px;}
    .intro-prod .img-area{width:80%;}
    .intro-prod .swiper-slide{height:74vw;}
    .intro-prod .swiper-slide:after{height:70vw;}
    .intro-prod .swiper-slide p{top:0; width:100%; font-size:30px; text-align:center; transform:translateY(0);}
    .intro-prod .swiper-slide p span{font-size:20px;}
    .intro-prod .tag{z-index:2;}
    .intro-prod .img{position:static; width:80%; margin:0 auto; transform:translateY(0);}
    .intro-prod .img img{width:100%;}
    .btn-nav.active{right:460px;}

    .sns .since{font-size:20px;}
    .sns h2{font-size:32px;}
    .sns-slide{width:90%;}

    /* product */
    .prod-slider{width:75%;}
    .prod-slider .swiper-slide{width:100%; height:80vw; box-sizing:border-box; text-align:center;}
    .prod-slider .swiper-slide a{box-sizing:border-box; padding-top:60px;}
    .prod-slider .tag{left:30px; bottom:30px; width:100px; height:100px;}
    .prod-slider .tag img{width:100%;}
    .prod-slider dfn{position:static; font-size:80px; letter-spacing:0;}
    .prod-slider dfn span{margin-top:10px; font-size:60px;}
    .prod-slider dfn i{font-size:40px;}
    .prod-slider .img-prod{position:relative; top:-30px; left:0; width:85%; height:auto; margin:0 auto;}
    .prod-slider .img-prod img{position:static; width:100%;}
    .prod-slider .btn-control{margin:20px 0 0; text-align:center;}
    .prod-slider .btn-control button{width:52px;}
    .prod-slider .prod-prev:before,
    .prod-slider .prod-next:before{width:10px; height:10px; border-width:2px;}
    .prod-slider .prod-prev:after,
    .prod-slider .prod-next:after{top:10px; height:2px;}
    .prod-slider .btn-control button+button{margin-left:10px;}
    .prod-slider .prod-paging{margin:-19px 0 0; font-size:25px;}

    .product-detail{padding-top:16vh; background:none;}
    .product-detail:before{display:none;}
    .prod-intro{width:75%; height:92vw; margin:0; transform:translateX(-50%);}
    .prod-intro .tag{left:50px; width:100px; height:100px;}
    .prod-intro .tag img{width:100%;}
    .prod-item .disc{top:54%; padding:0;}
    .prod-item h2{font-size:25px; text-align:center;}
    .prod-item h2 span{margin-top:5px; font-size:45px;}
    .prod-item p{width:60%; margin:25px auto 0; font-size:18px; text-align:center; letter-spacing:0;}
    .prod-item p br{display:none;}
    .prod-intro .img-area{position:static;}
    .prod-intro .img-prod{top:-30px; left:50%; width:60vw; transform:translateX(-50%);}
    .prod-intro .img-prod img{width:100%;}
    .prod-intro .tab{left:0; width:100%;}
    .prod-intro .tab li{width:33.3333%;}
    .prod-intro .tab li:first-child{width:33.3334%;}
    .prod-intro .tab a,
    .prod-intro .tab a:first-child{width:100%;}
    .prod-intro .tab .original a,
    .prod-intro .tab .hazelnut a,
    .prod-intro .tab .cookies a,
    .prod-intro .tab .caramel a,
    .prod-intro .tab .crumble a,
    .prod-intro .tab .hazelnut a{background-size:100% auto !important;}
    .prod-intro .btn-close{top:auto; bottom:-55px; right:50%; width:40px; height:40px; margin-right:-20px;}
    .prod-intro .btn-close:before,
    .prod-intro .btn-close:after{top:20px; left:-5px; width:50px;}
}

/* mobile */
@media screen and (max-width:767px){
    .inner{width:100%; box-sizing:border-box; padding:0 20px;}
    .mobile{display:block;}

    /* header */
    .header h1 a{width:58px; height:58px;}
    .header h1 img{width:100%;}

    .util{margin-top:37px;}
    .btn-nav{top:0; width:26px; height:12px;}
    .btn-nav:before{top:3px; width:26px;}
    .btn-nav:after{width:19px;}
    .btn-nav.active{top:-6px; right:3px; width:22px; height:22px; margin:0;}
    .btn-nav.active:before{top:10px; left:-2px;}
    .btn-nav.active:after{top:10px; left:-2px; width:26px;}
    .nav-sns{display:none;}
    nav{right:-172px; width:172px; height:257px;}
    nav > div{position:static; width:auto; margin-left:23px; text-align:left; transform:translate(0);}
    .nav-main{margin:60px 0 12px;}
    .nav-main a{margin:10px 0; font-size:18px;}
    .nav-main-sns li{margin:0 3px;}
    .nav-main-sns a{width:36px; height:36px; background-size:100% auto !important;}

    /* footer */
    .footer{height:auto; padding:21px 0 0;}
    .footer .inner{padding:0; line-height:1.4;}
    .footer .footer-logo{position:absolute; top:25px; left:40px;}
    .footer .copyright{float:none; padding:0 35px 13px 85px; font-size:10px;}
    .footer .copyright p:first-child{margin:0;}
    .footer .btn-terms{display:none;}
    .footer-sns{display:block; padding:12px 0 30px; text-align:center; border-top:1px solid #c7c7c7;}
    .footer-sns a{display:inline-block; width:36px; height:36px; overflow:hidden; margin:0 4px; text-indent:-9999px;}
    .footer-sns .facebook{background:url(../images/common/btn_facebook_footer.png) no-repeat 0 0; background-size:100% auto;}
    .footer-sns .instagram{background:url(../images/common/btn_instagram_footer.png) no-repeat 0 0; background-size:100% auto;}
    .footer-sns .youtube{background:url(../images/common/btn_youtube_footer.png) no-repeat 0 0; background-size:100% auto;}

    /* kv */
    .kv .paging{bottom:25px;}
    .kv .product{width:80%; padding:0;}
    .kv .product .img{top:140px; right:-60px; z-index:2; width:100%;}
    .kv .product .img img{width:80%; transform:rotate(-12deg);}
    .kv .product strong{font-size:80px; letter-spacing:-4px;}
    .kv .product span:nth-child(2){font-size:100px;}
    .kv .product span:last-child{position:relative; z-index:3; font-size:60px; letter-spacing:0;}
    .kv .product i{display:block; font-size:190px;}
    .kv .product .new{margin:15px 0 10px; font-size:27px;}
    .kv .product .name{font-size:17px;}
    .kv .btn{display:none;}
    .kv .paging .swiper-pagination-bullet{width:35px; height:20px; background-size:100% auto;}

    .intro-prod{text-align:center;}
    .intro-prod h2{margin:15px 0; font-size:22px;}
    .intro-prod .inner{position:static; width:100%; padding:11vh 0 0; transform:translate(0, 0);}
    .intro-prod .since{font-size:12px;}
    .intro-prod .tab{margin-bottom:4vh;}
    .intro-prod .tab a{width:83px; height:25px; margin:0 6px; font-size:12px; line-height:25px;}
    .intro-prod .swiper-slide{height:335px;}
    .intro-prod .swiper-slide:after{height:295px;}
    .intro-prod .img-area{position:static; width:80%; height:auto; margin:0 auto;}
    .intro-prod .img-area p{top:10px; width:100%; font-size:17px;}
    .intro-prod .img-area p span{font-size:14px;}
    .intro-prod .img{position:static; width:100%; transform:translate(0);}
    .intro-prod .img img{width:85%;}
    .intro-prod .tag{top:12px; left:12px; z-index:5; height:12px;}
    .intro-prod .tag img{width:70px; height:70px;}

    /* sns */
    .sns{padding:60px 0;}
    .sns h2{position:relative; margin:15px 0; font-size:22px; line-height:1;}
    .sns .since{font-size:12px;}
    .sns-slide{width:100%;}
    .sns-slide .swiper-slide img{width:200%;}
    .sns-slide .txt-area{width:200%; height:100px; padding:15px; font-size:15px;}
    .sns-slide .txt-area p{-webkit-line-clamp:3;}

    /* product */
    .prod-slider{width:75%;}
    .prod-slider .swiper-slide{width:100%; height:83.5vw; box-sizing:border-box; text-align:center;}
    .prod-slider .swiper-slide a{padding:32px 0 0;}
    .prod-slider .tag{bottom:16px; left:16px; width:62px; height:62px;}
    .prod-slider .tag img{width:100%;}
    .prod-slider dfn{position:static; font-size:43px; letter-spacing:0;}
    .prod-slider dfn span{margin:0 0 10px; font-size:33px;}
    .prod-slider dfn i{font-size:15px;}
    .prod-slider .img-prod{position:relative; top:-20px; left:0; width:80%; margin:0 auto;}
    .prod-slider .img-prod img{position:static; width:100%;}
    .prod-slider .btn-control{margin:10px 0 0; text-align:center;}
    .prod-slider .btn-control button{width:27px;}
    .prod-slider .prod-prev:before,
    .prod-slider .prod-next:before{top:8px; width:6px; height:6px; border-width:2px;}
    .prod-slider .prod-prev:after,
    .prod-slider .prod-next:after{height:2px;}
    .prod-slider .btn-control button+button{margin-left:10px;}
    .prod-slider .prod-paging{margin:-19px 0 0; font-size:13px;}

    .product-detail{padding-top:17.5vh; background:none;}
    .product-detail:before{display:none;}
    .prod-intro{width:75%; height:100vw; margin:0; padding:115px 0 0; transform:translateX(-50%);}
    .prod-intro h2{font-size:17px; text-align:center; letter-spacing:-1px;}
    .prod-intro h2 span{margin-top:5px; font-size:29px; letter-spacing:0;}
    .prod-intro p{width:78%; margin:25px auto 0; font-size:13px; text-align:center; letter-spacing:0;}
    .prod-intro p br{display:none;}
    .prod-intro .tag{top:50px; left:20px; width:62px; height:62px;}
    .prod-intro .tag img{width:100%;}
    .prod-intro .img-area{position:static;}
    .prod-intro .img-prod{top:-100px; left:61%; width:320px; transform:translateX(-50%);}
    .prod-intro .img-prod img{width:100%; transform:rotate(-12deg);}
    #chunky .prod-intro .img-prod{top:-110px; left:43%; width:360px;}
    #chunky .prod-intro .img-prod img{transform:rotate(-15deg);}
    #new3 .prod-intro .img-prod{top:-100px; left:56%; width:360px;}
    #new3 .prod-intro .img-prod img{transform:rotate(0);}
    .prod-intro .tab{left:0; width:100%;}
    .prod-intro .tab li{width:33.3333%;}
    .prod-intro .tab li:first-child{width:33.3334%;}
    .prod-intro .tab a,
    .prod-intro .tab a:first-child{width:100%; height:48px;}
    .prod-intro .tab .original a,
    .prod-intro .tab .hazelnut a,
    .prod-intro .tab .cookies a,
    .prod-intro .tab .caramel a,
    .prod-intro .tab .crumble a,
    .prod-intro .tab .hazelnut a{background-size:100% auto !important;}
    .prod-intro .btn-close{top:auto; bottom:-32px; right:50%; width:22px; height:22px; margin-right:-11px;}
    .prod-intro .btn-close:before,
    .prod-intro .btn-close:after{top:10px; left:-2px; width:25px;}
}
@media screen and (max-width:767px) and (orientation:landscape){
    .intro-prod{height:150vh;}
    .intro-prod .img{margin:0 auto;}
}